body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
    width: 100%;
}

.container {
    padding-left: 300px;
    padding-right: 60px;
}

.flex {
    display: flex;
    align-items: center;
}

.header {
    background: #F3F4F9;
    padding: 41px 41px 41px 0px;
    float: left;
    position: fixed;
    height: 100vh;
}

.header__logo {
    padding-left: 41px;
    padding-bottom: 44px;
}

.header__logo span {

    padding-left: 10px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.header__navigation {
    padding-left: 0px;
}

.header__navigation li {
    display: flex;
    align-items: center;
    list-style: none;
    height: 22px;
    padding-left: 41px;
    margin-bottom: 42px;
    font-family: 'Open Sans', sans-serif;
}

.header__navigation li:nth-child(2) {
    margin-bottom: 51px;
}

.header__navigation span {
    padding-left: 12px;
}

.header__responsive-button {
    display: none;
}

.search {
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
}

.main-title {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 31px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.search input {
    width: calc(100% - 75px);
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 50px;
    padding: 20px 30px 15px 43px;
    color: rgba(0, 0, 0, 0.45);
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;
}

.search input::placeholder {
    letter-spacing: -0.5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.entertainment-list {
    justify-content: center;
    width: calc(100% + 40px);
    flex-wrap: wrap;
    padding-top: 40px;
    margin-left: -10px;
}

.entertainment-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    max-width: 347px;
    white-space: nowrap;
    margin-right: 20px;
    margin-bottom: 20px;
}

.entertainment-item svg{
    position: absolute;
}

.entertainment-item path{
    fill:rgb(233, 233, 233);
}

.entertainment-item svg{
    filter: drop-shadow( 0px 0px 6px rgba(0, 0, 0, 0.30));
}

.entertainment-item h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    margin-bottom: 0;
    padding-top: 0px;
}

.entertainment-item p {
    margin: 0;
    padding-top: 1px;

}

.entertainment-item h1 {
    letter-spacing: -0.2px;
    padding-bottom: 1px;
    padding-top: 12px;
    line-height: 37px;
    margin-bottom: 0px;
    color: #DF212D;
    font-size: 36px;
}


.entertainment-item img {
    margin-left: auto;
}

.entertainment-item span {
    letter-spacing: 6.5px;
    text-transform: uppercase;
    opacity: 0.5;
}

.entertainment-item__description {
    width: 150px;
    margin-left: 20px;
    margin-top: -17px;
    margin-right: 0px;
}

/* Поведение Элементов  */

.header__navigation .active{
    border-left: 3px solid #34ABE0;
}

.header__navigation .active path {
    stroke: #34ABE0;
}

.header__navigation .active span {
    color: #34ABE0;
}

.entertainment-item:hover path {
    transition: 0.6s;
    fill:#DF212D ;
    filter: drop-shadow( 0px 0px 6px rgba(0, 0, 0, 0.55));
}

/*--------------------------------------------------- */

@media (max-width: 1100px) {
    .container {
        padding-left: 256px;
   
    }

    
    .container{
        padding-right: 26px;
    }

    .entertainment-list {
        width: calc(100% + 30px);
        margin-left: -7px;
    }

    .entertainment-item {
        max-width: 296px;
        font-size: 14px;
        margin-bottom: 35px;
    }

    .entertainment-item svg{
        width: 296px;
        transform: scale(1, 1.1);;
      
    }

    .entertainment-item img {
        height: 136px;
    }

}

@media (max-width: 920px) {

    .container {
        padding-top: 30px;
        padding-left: 286px;
    }

    .header-hidden {
        padding-left: 0px ;
  
    }
    
    .header-hidden .container{
        padding-left: 130px;
    }

    .header {
        padding-top: 41px;
        z-index: 3;
    }

    .header__logo {
        display: flex;
    }

    .header__navigation li {
        margin-bottom: 38px;
    }

    .header__navigation li:nth-child(2) {
        margin-bottom: 38px;
    }

    .header__responsive-button {
        position: absolute;
        left: 100%;
        top: 0;
        height: 106px;
        width: 48px;
        background-image: url("../img/Union.png");
        background-size: cover;
        display: inline-block;
    }

    .header__responsive-button img {
        margin-top: 90%;
        margin-left: 3px;
    }

    .text-hidden span {
        display: none;
    }

    .header__logo img {
        width: 24px;
    }

    .header__logo{
        display: flex;
        align-items: center;
        padding-bottom: 50px;
    }

    .text-hidden .header__navigation {
        padding-right: 0px;
    }

    .header__navigation{
        padding-right: 22px;
    }

    .text-hidden .header__navigation li{
        margin-bottom: 37.5px;
    }

    .header__navigation li{
        margin-bottom: 42.5px;
    }

    .header__logo span{
        font-size: 14px;
        padding-left: 4px;
    }

    .search {
        padding-bottom: 27px;
        background: white;
        z-index: 2;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    
    }

    .main-title {
        text-align: right;
        padding-top: 31px;
        padding-bottom: 2px;
    }

    .entertainment-list {
        margin-left: -12px;
        padding-top: 0px;
    }

    .entertainment-item {
        max-height: 296px;
        margin-bottom: 23px;
    }

    .entertainment-item h2 {
        padding-top: 18.5px;
        letter-spacing: 1.2px;
        font-size: 14px;
        padding-bottom: 2px;
    }

    .entertainment-item h1 {
        padding-top: 5px;
        margin-bottom: 0px;
        line-height: 30px;
        position: relative;
    }

    .entertainment-item span {
        font-size: 16px;
        display: block;
        padding-bottom: 11.5px;
    }
}

@media (max-width: 768px) {
    .container{
        padding-right: 26px;
    }

    .main-title{
        padding-top:1px;
    }

 


}


@media (max-width: 760px) {

    .container {
        padding-left: 247px;
        padding-right: 20px;
    }

    .text-hidden{
        width: 0px;
    }

    .header-hidden .container{
        padding-left: 32px;
    }

    .text-hidden .active{
        border-left: none;
    }


    .text-hidden .header__navigation li {
        width: 0px;
    }

    .text-hidden .header__responsive-button {
        left: 12px;
    }

    .text-hidden {
        padding-left: 6px;
        padding-right: 6px;
    }

    .text-hidden img {
        display: none;
    }

    .header__navigation svg {
        display: none;
    }

    .header__responsive-button {
        margin-left: 0px;
    }

    .header__responsive-button img {
        display: block;
    }

    .search{
        padding-right: 20px;
    }

    .search input {
        width: calc(98.5% - 67px);
    }

    .search input::placeholder {
        font-size: 14px;

    }

    .entertainment-list {
        justify-content: center;
        width: calc(100% + 20px);
    }

    .entertainment-item {

        margin-right: 15px;
        margin-bottom: 25px;
    }

    .entertainment-item h1 {
        font-size: 28px;
    }

    .entertainment-item h2,
    .entertainment-item {
        font-size: 12px;
    }


    .entertainment-item span {
        font-size: 12px;
    }

    .entertainment-item img {
        height: 104px;
    }

    .entertainment-item {
        max-width: 268px;
    }

    .entertainment-item svg{
        width: 268px;
    }
}

@media (max-width: 530px) {

    .container{
        padding-left: 32px;
    }
}

@media (max-width: 320px) {

    .container {
        padding-top: 29px;
    }

    .header {
        padding-left: 0px;
        padding-right: 0px;
       
    }
    
    .header__logo{
        padding-left: 18px;
        padding-bottom: 50px;
    }

    .header__logo span{
        padding-left: 7px;
    }

    .header__navigation span {
        padding-left: 0px;
    }

    .header__navigation li{
        margin-bottom:43.5px ;
        padding-left: 18px;
        width: 150px;
    }

    .text-hidden {
        padding-left: 6px;
        padding-right: 6px;
    }

    .main-title{
        font-size: 24px;
        padding-top: 6px;
        padding-bottom: 21px;
    }
 
    .search{
        padding-top: 0px;
    }

    .search h1 {
        padding-top: 6px;
        padding-left: 25px;
        padding-bottom: 20px;
        font-size: 24px;
    }
    .entertainment-item{
        margin-bottom: 16px;
    }

    .entertainment-item h2 {
        padding-top: 23px;
        padding-bottom: 0px;
    }

    .entertainment-item h1 {
        margin-top: 16px;
    }

    .entertainment-item span {
        letter-spacing: 5px;
        padding-bottom: 17.6px;
    }

    .entertainment-item__description{
        padding-left: 2px;
    }
}

@media (max-width: 295px) {
    .entertainment-item svg{
        width: 240px;
    }
}